@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'KyivTypeTitling';
  src: url('../assets/fonts/KyivTypeTitling-Bold.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer components {
  .input-text {
    @apply w-full rounded-3xl border border-grey-950 px-2 py-3 focus:outline-none;

    &::placeholder {
      @apply text-grey-950;
    }
  }

  /* Стилі для іконки "!" в інпутах */
  .warning-icon-for-input {
    @apply relative after:absolute after:right-4 after:top-1/2 after:block after:h-5 after:w-5 after:translate-y-[-50%] after:bg-warning-icon after:bg-contain after:bg-center after:bg-no-repeat after:content-[""];
  }

  /* Стилі для форми реєстрації користувача */
  .auth-register-form {
    @apply flex w-full flex-col gap-5 md:w-1/2;

    button[type='submit'] {
      @apply mt-16;
    }
  }

  /* Стилі для секції форми реєстрації користувача */
  .auth-register-form-section {
    @apply relative flex flex-col items-center gap-2;
  }
  /* Стилі для тексту, який з'являється під час виникнення помилки */
  .error-text {
    @apply text-d1 text-error-default;
  }

  /* Стилі для кнопки */
  .button {
    @apply rounded-[40px] bg-primary-900 px-8 py-4 text-primary-30 transition duration-300;
    &:not(:disabled):hover {
      @apply cursor-pointer bg-secondary-blue-700 text-primary-30;
    }
  }

  .close-button {
    @apply absolute right-6 top-4 flex flex-col transition-transform duration-300 ease-in-out;

    &::after,
    &::before {
      @apply absolute h-0.5 w-4 bg-grey-950;
      content: '';
    }
    &::after {
      @apply rotate-45;
    }
    &::before {
      @apply -rotate-45;
    }
  }
  .custom-button {
    @apply mb-8 mt-6 rounded-[30px] bg-primary-900 px-[33.5px] py-[9px] text-b4 text-primary-30 hover:bg-secondary-blue-700 active:bg-secondary-blue-600 disabled:bg-secondary-blue-200;
  }
  /* Стилі для заголовку секції на сторінці додавання товару */
  .title-add-product-section {
    @apply mb-6 text-s1 text-grey-950;
  }
  /* Стилі для опису секції на сторінці додавання товару */
  .description-add-product-section {
    @apply mb-2 text-b3 text-grey-800;
  }
  /* Стилі для інпутів на сторінці додавання товару */
  .input-add-product-section {
    @apply mb-2 w-full rounded-[20px] bg-transparent px-4 py-2 text-grey-950 outline outline-1 outline-grey-500 placeholder:text-grey-400 focus:outline-2;
  }

  .button1 {
    display: grid;
    grid-template-areas: 'stack';
  }
  .button1 .spinner {
    grid-area: stack;
  }
  .button1 .text {
    grid-area: stack;
  }

  .button1.loading .spinner {
    display: block;
  }

  .button1.loading .text {
    opacity: 0;
    visibility: hidden;
  }
}
