@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer components {
  .input-text {
    @apply border-textPrimary w-full rounded-3xl border px-2 py-3 focus:outline-none;

    &::placeholder {
      @apply text-textPrimary;
    }
  }

  .warning-icon-for-input {
    @apply after:bg-warning-icon relative after:absolute after:right-10 after:top-1/2 after:block after:h-5 after:w-5 after:translate-y-[-50%] after:bg-contain after:bg-center after:bg-no-repeat after:content-[""];
  }

  .auth-register-form {
    @apply flex w-full flex-col gap-5 md:w-1/2;

    button[type='submit'] {
      @apply mt-16;
    }
  }

  .auth-register-form-section {
    @apply relative flex flex-col items-center gap-2;

    .error-text {
      @apply text-error text-sm;
    }
  }

  .button {
    @apply bg-bgBtn hover:bg-bgBtnHover text-textSecondary hover:text-textPrimary rounded-3xl px-2 py-3 transition duration-300 hover:cursor-pointer;

    &:hover {
      box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 6px 0px;
    }
  }

  .close-button {
    @apply absolute right-6 top-4 flex flex-col transition-transform duration-300 ease-in-out;

    &::after,
    &::before {
      @apply bg-textPrimary absolute h-0.5 w-4;
      content: '';
    }
    &::after {
      @apply rotate-45;
    }
    &::before {
      @apply -rotate-45;
    }
  }
}
